<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редагування</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="editModalBody">
            </div>
        </div>
    </div>
</div>

<script>
    function openEditModal(url, title) {
        $('#editModalLabel').text(title);
        $('#editModalBody').html('<div class="text-center p-5"><div class="spinner-border text-primary"></div><p class="mt-2">Завантаження...</p></div>');
        
        $.get(url, function(data) {
            $('#editModalBody').html(data);
            $('#editModal').modal('show');
            
            $.validator.unobtrusive.parse('form');
        });
    }
</script>